body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    color: red;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px;
    background: red;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
    background: white;
    margin: 5px;
    padding: 10px;
}